* {    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
}
.container-title{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 32px;
    color: rgb(236, 29, 29);
    text-align: center;
}

.padre-create div {
    margin: 15px 0;
}

.padre-create{ 
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin: 0 auto;
}

.padre-create input{
    border: 0;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    
}

.description-submit-products textarea{
    width: 100%;
}

.categorias-real {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.categorias-real label {
    width: 100%;
}

.categorias-real select {
    margin: 0 auto;
}

.img-product input{
    display: flex;
    margin-left:0px ;
    font-size: 15px;
    width: 500px;
}

.button-admin{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.button-admin button{
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
}


@media (min-width: 769px) 
{

    .padre-create{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 600px;
    }
    .padre-create div{
        width: 45%;
    }
    div .description-submit-products {
        width: 100%;
    }
    
    div .button-admin{
        width: 50%;
        margin: 10px auto;
    }
}

@media (min-width: 1024px) 
{
    .padre-create {
    max-width: 800px;
}
}